@font-face {
  font-family: 'Pribambas';
  src: url('../fonts/Pribambas-Regular.eot');
  src: url('../fonts/Pribambas-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Pribambas-Regular.woff') format('woff'),
  url('../fonts/Pribambas-Regular.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
